textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(200, 200, 200, 0.14);
  border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  display: block;
}

.text-input:focus {
  background: none repeat scroll 0 0 #ffffff;
  outline-width: 0;
}

.text-input {
  height: 200px;
  width: 100%;
  max-width: 500px;
  font-size: 14px;
  margin-top: 20px;
  transition: height 1s;
}

.text-input-wrapper {
  width: 60%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

.clear-button {
  position: absolute;
  top: -9px;
  right: 2px;
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.05);
  font-size: 13px;
  color: #555555;
  padding: 5px 9px;
}

.night .text-input {
  color: #bbb;
  border-color: #333;
}

.night .text-input:focus {
  background: hsl(212, 22%, 36%);
}

.night .clear-button {
  color: #bbb;
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.05);
}

.night .clear-button:hover {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
}
