.languages {
  top: 50px;
  bottom: 50px;
  position: fixed;
  width: 200px;
  border: 1px solid #999;
  background: #fcfcfa;
  left: 50%;
  margin-left: -100px;
  padding: 10px 0;
  border-radius: 10px;
}

.language-items {
  width: 100%;
  position: absolute;
  top: 7px;
  bottom: 7px;
  overflow-y: scroll;
}

.language-item {
  padding: 10px;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

.language-item:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.pin-image {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

/*       NIGHT     */

.night .languages {
  background: hsl(211, 33%, 26%);
}

.night .language-item {
  background: hsl(211, 33%, 26%);
  border-color: #777;
}

.night .language-item:hover {
  color: #eee;
  background-color: hsl(211, 40%, 35%);
  border-color: #adadad;
}
