.popup-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100, 100, 100, 0.5);
}

.word-popup-background .popup-background {
  background: rgba(0, 0, 0, 0);
  position: absolute;
}
