.word-popup {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  max-width: 400px;
  border: 1px solid #999;
  background: #fcfcfa;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: left;
}

.transcription,
.index {
  color: #888;
}

.examples {
  color: #666;
}

.position {
  color: hsl(120, 100%, 24%);
}

.translation {
  color: hsl(240, 34%, 45%);
}

.means {
  color: hsl(358, 27%, 40%);
}

/*       NIGHT     */

.night .word-popup {
  background: hsl(211, 33%, 26%);
  border-color: #777;
}

.night .means {
  color: hsl(358, 27%, 70%);
}

.night .translation {
  color: hsl(240, 64%, 85%);
}

.night .transcription,
.night .index {
  color: #ccc;
}

.night .examples {
  color: #bbb;
}

.night .position {
  color: hsl(120, 40%, 64%);
}
